<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- this below style1.css link for using some media query for responsive  -->
    <link rel="stylesheet" href="../public/style1.css">
    <!-- tailwind css link by style.css for output -->
    <link rel=" stylesheet" href="output.css">
    <!-- fontawesome icon link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<style>
    .changesize {
        font-size: 13px !important;
        margin: 0 5px;
        font-weight: bold !important;
    }

    .size {
        font-size: 30px !important;
        margin-top: 10px !important;
    }

    /*signup page css start*/
    /* Custom class for image hover overlay */
    .image-hover-overlay {
        position: relative;
    }

    .image-hover-overlay::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .image-hover-overlay:hover::before {
        opacity: 1;
    }

    /*THIS CSS FOR SIGNUP PAGE ONLY START*/

    .bg-gradient {
        background-image: -webkit-radial-gradient(#367580 30%, #085f6d 50%);
    }

    .custom-select {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .custom-select select {
        display: none;
    }

    .select-selected {
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .select-items {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        background-color: white;
        border: 1px solid #ccc;
        border-top: none;
        max-height: 150px;

        /* Adjust the max height as needed */
        overflow-y: auto;
        /* Enable vertical scrolling */
    }

    .select-items div {
        padding: 10px;
        cursor: pointer;
    }

    .error-message {
        position: absolute;
    }

    .select-items div:hover {
        background-color: rgb(216, 154, 20);
    }

    .select-hide {
        display: none;
    }

    .select-arrow-active {
        transform: rotate(180deg);
    }

    .companyproperty {
        margin: 40px 0 !important;
    }

    .custom-button {
        transition: background-color 0.3s ease;
        /* Transition effect */
    }

    .custom-button:hover {
        background-color: #fd9b27;
        /* New background color on hover */
    }

    input {
        outline: none;
        color: rgb(59, 70, 74);
    }


    /* SPINNER FOR RECAPTCHA START CSS*/
    /* Custom CSS for spinner animation */
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .spinner {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #0d5be1;
        border-width: 4px;
        border-style: solid;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        animation: spin 1s linear infinite;
    }

    .privacyterms {
        font-size: 10px !important;
    }

    /*SPINNER FOR RECAPTCHA END CSS*/

    /*THIS CSS FOR SIGNUP PAGE ONLY END*/
    /*signup page css end*/


    /* OUR CLIENT AND TESTIMONIAL SECTION START CSS*/
    .slider-container {
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    .slider {
        display: flex;
        transition: transform 1s ease-in-out;
    }

    .slide {
        min-width: 100%;
        transition: opacity 1s ease-in-out;
    }

    /* OUR CLIENT AND TESTIMONIAL SECTION END CSS */


    /*CSS START FOR FOOTER*/

    .listchange {
        list-style: none !important;
        font-size: 14px !important;
    }

    .listchange i {
        font-size: 10px !important;
    }

    .hidden {
        display: none;
    }

    .error-border {
        border-color: red !important;
    }

    /* Custom CSS for border transition */
    .border-transition {
        transition: border-color 0.5s ease;
    }

    .focus\:border-blue-500:focus {
        border-color: #3b82f6;
        /* Tailwind's blue-500 color */
    }

    /*CSS END FOR FOOTER*/
</style>

<body>
    <!-- FIRST IMG PART START -->
    <div class="overflow-hidden w-full relative h-[430px] sm:h-104 xl:h-112 2xl:h-120">
        <div class="duration-700 ease-in-out w-full" data-carousel-item>
            <div class="flex items-center absolute top-0 left-0 w-full h-full  bg-black bg-opacity-0">
                <div class="text-white text-5xl px-16 sm:px-40">
                    <h2 class="font-bold mb-4 text-black">
                        eGuru
                    </h2>
                    <p class="mb-10 sm:mb-8 font-semibold text-slate-900 text-xl sm:text-1xl">
                        An Integrated Framework <br>
                        <span class="ml-9"> For Comprehensive Learning</span>
                    </p>
                </div>
            </div>
            <img src="https://netedgecomputing.com/wp-content/uploads/2019/09/IT-and-Business-Consulting-banner.jpg"
                class="block w-full h-[430px] object-cover bg-cover bg-center bg-no-repeat bg-opacity-10" alt="Slide 1">
        </div>
    </div>

    <!-- start  three link below in img  -->
    <div class="container sm:w-3/4 mx-auto mt-8">
        <ul class="flex list-none no-underline" id="threelist">
            <li><a href="https://netedgecomputing.com/index.php/services/cloud-transformation-solutions/"
                    class="hover:text-orange-600 text-[14px] sm:text-[17px]"> About <i
                        class="fa fa-chevron-right text-orange-600 changesize"></i>

                </a></li>
            <li class="mx-8"><a href="https://netedgecomputing.com/index.php/services/cloud-transformation-solutions/"
                    class="hover:text-orange-600 text-[14px] sm:text-[17px]"> Product <i
                        class="fa fa-chevron-right text-orange-600 changesize"></i>

                </a></li>
            <li><a href="https://netedgecomputing.com/index.php/services/cloud-transformation-solutions/"
                    class="hover:text-orange-600 text-[14px] sm:text-[17px] "> eGuru <i
                        class="fa fa-chevron-right text-orange-600 changesize"></i>

                </a></li>
        </ul>
    </div>
    <!-- start  three link below in img  -->


    <!-- eGuru with some text part start -->
    <div class="container mx-auto px-4 py-16 flex flex-col items-center mt-8">

        <!-- Title with Underline -->
        <div class="text-center mb-8">
            <h1 class="text-4xl font-bold text-blue-900 mb-2">eGuru</h1>
            <div class="h-[6px] bg-yellow-500 w-24 mx-auto rounded-full"></div>
        </div>

        <!-- Description -->
        <div class=" sm:w-4xl xl:w-6xl p-6">
            <p class="text-gray-700 leading-7 mb-6  text-[15px] italic leading-9">
                <span class="text-slate-800 font-sans font-bold">eGuru</span> is a comprehensive fully integrated
                next
                generation e-learning framework. Since it is
                Internet
                based, it is fast, easy and cost-efficient to implement irrespective of how large the organization
                is.
                It also saves time and money since there is no local hardware or software to install, servers or
                licenses to buy.
            </p>
            <p class="text-gray-700 leading-7 mb-4 ">
                <span class="text-slate-800 font-sans font-bold italic leading-9">eGuru</span> powers, delivers and
                tracks the online
                learning process. Right from the initial assessment to the
                final report, it helps manage efficiently and effectively. It is designed to incorporate proprietary
                technologies and connect to multiple databases of learning content and knowledge resources, using an
                integrated framework.
            </p>
        </div>

    </div>
    <!-- eGuru with some text part end -->


    <!-- start section of product feature -->

    <div class="bg-slate-200">
        <div class="container mx-auto sm:px-16 py-16">
            <!-- Grid layout for left and right columns -->
            <!-- Title with Underline -->
            <div class="text-center mb-20">
                <h1 class="text-4xl font-bold text-blue-900 mb-2">Product Feature</h1>
                <div class="h-[6px] bg-yellow-500 w-24 mx-auto rounded-full"></div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

                <!-- left Column -->
                <div class="flex flex-col space-y-8">
                    <div class="flex items-start space-x-4">
                        <i class="fa-brands fa-shopware size text-blue-600"></i>
                        <div class="">
                            <h3 class="text-[19px] font-bold text-gray-900 mb-2">Complete Student Management</h3>
                            <p class="text-gray-700 text-[16px] italic leading-7">
                                Comprehensive reporting and messaging tools help create access rights, organize
                                administrators and students into groups and track their progress.</p>
                        </div>
                    </div>
                    <div class="flex items-start space-x-4">
                        <i class="fa-brands fa-shopware size text-blue-600"></i>
                        <div class="">
                            <h3 class="text-[19px] font-bold text-gray-900 mb-2">Courses and Resource Management</h3>
                            <p class="text-gray-700 text-[16px] italic leading-7">

                                Helps in organizing customized instructor-led and online self study courses in catalogs.
                                It also enables to track registration, administer course-related resources, and create
                                reports.</p>
                        </div>
                    </div>
                    <div class="flex items-start space-x-4">
                        <i class="fa-brands fa-shopware size text-blue-600"></i>
                        <div class="">
                            <h3 class="text-[19px] font-bold text-gray-900 mb-2"> Online Course Delivery Infrastructure
                            </h3>
                            <p class="text-gray-700 text-[16px] italic leading-7">
                                Online Course Delivery Infrastructure

                                It makes it possible to establish and deliver online instructor-led or self study
                                courses. The facility provided includes setup of the course and the various resources,
                                interaction and progress tracking.</p>
                        </div>
                    </div>
                </div>

                <!-- right Column -->
                <div class="flex flex-col space-y-8">
                    <div class="flex items-start space-x-4">
                        <i class="fa-brands fa-shopware size text-blue-600"></i>
                        <div class="">
                            <h3 class="text-[19px] font-bold text-gray-900 mb-2"> Skill Assessment</h3>
                            <p class="text-gray-700 text-[16px] italic leading-7">



                                A comprehensive skill assessment is done at various possible points during the progress
                                of the course. This helps in developing a personalized learning path for students.
                            </p>
                        </div>
                    </div>
                    <div class="flex items-start space-x-4">
                        <i class="fa-brands fa-shopware size text-blue-600"></i>
                        <div class="">
                            <h3 class="text-[19px] font-bold text-gray-900 mb-2">
                                Knowledge Base</h3>
                            <p class="text-gray-700 text-[16px] italic leading-7">
                                A knowledge base that includes frequently asked questions, online technical references,
                                tips and resources. As the course progresses the knowledge base can be supplemented with
                                additional information.
                            </p>
                        </div>
                    </div>
                    <div class="flex items-start space-x-4">
                        <i class="fa-brands fa-shopware size text-blue-600"></i>
                        <div class="">
                            <h3 class="text-[19px] font-bold text-gray-900 mb-2"> Learner-Centered Personalization
                            </h3>
                            <p class="text-gray-700 text-[16px] italic leading-7">
                                Identify students by their profiles and deliver targeted course information and
                                references. Students can set their own preferences and bookmark various content for
                                access later.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end section of product feature -->

    <!-- START Download Product Description signup -->

    <div class="bg-gradient px-8  sm:px-28 py-8  mb-12 xl:h-80  w-full mx-4 flex flex-col xl:flex-row">

        <!-- Left Text Section -->
        <div class=" w-full xl:w-1/3 xl:my-8 md:mb-0 md:mr-8">
            <div class="text-3xl font-bold xl:mb-4 text-white flex textchange flex-col">
                <div class="text-yellow-500 mr-4">Download</div>
                <div class="">Product</div>
                <div class="">Description</div>
            </div>
            <p class="text-white leading-9 mb-12 xl:mb-1 xl:w-96">Would you like to know more about our product and how
                it can
                help your business, Just submit your details.
            </p>
        </div>

        <!-- Middle Form Section -->
        <div class="xl:w-1/3 flex-1 xl:mr-8">
            <form id="signup-form" class="space-y-4">
                <div>
                    <!-- <label class="block text-sm font-medium text-gray-700">Full Name</label> -->
                    <input type="text" id="full-name" placeholder="Full Name"
                        class="block w-full  p-[10px] outline-none font-bold">
                    <p id="full-name-error" class="error-message font-bold  text-red-500 text-sm mt-1 hidden">This field
                        is
                        required</p>
                </div>
                <div class="companyproperty">
                    <input type="text" id="company" placeholder="Company" class="block w-full p-[10px]  font-bold">
                    <p id="company-error" class="error-message text-red-500 font-bold text-sm p-[10px]  hidden">This
                        field is
                        required
                    </p>
                </div>
                <!-- <div class="" style="margin:50px 0;"> -->
                <!-- <div class="g-recaptcha" style="margin:50px 0;" data-sitekey="YOUR_SITE_KEY"
                    data-expired-callback="onCaptchaExpired">
                </div> -->

                <!-- RECAPTCHA START NEW -->
                <div class="bg-[#fff] p-4 flex items-center justify-between w-full max-w-xs" style="margin:50px 0;">
                    <!-- Left side with checkbox and spinner -->
                    <div class="flex items-center space-x-4">
                        <div class="relative">
                            <input id="captcha-checkbox" type="checkbox" class="hidden">
                            <div id="checkbox-container"
                                class="w-6 h-6 border border-gray-400 rounded flex items-center justify-center cursor-pointer">
                                <!-- Checkmark icon -->
                                <svg id="checkmark-icon" xmlns="http://www.w3.org/2000/svg"
                                    class="hidden w-20 h-20 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M16.707 5.293a1 1 0 00-1.414 0L8 12.586 4.707 9.293a1 1 0 10-1.414 1.414l4 4a1 1 0 001.414 0l8-8a1 1 0 000-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <!-- Spinner -->
                            <div id="spinner" class="hidden absolute inset-0  items-center justify-center">
                                <div class="spinner"></div>
                            </div>
                        </div>
                        <label for="captcha-checkbox" class="cursor-pointer">I'm not a robot</label>
                    </div>

                    <!-- Right side with image and links -->
                    <div class="flex flex-col items-center space-y-2">
                        <img src="https://www.gstatic.com/recaptcha/api2/logo_48.png" alt="Captcha Logo"
                            class="w-7 h-7">
                        <div class="flex privacyterms">
                            <a href="https://policies.google.com/privacy?hl=en"
                                class="text-gray-600 mx-2 hover:underline">Privacy-Terms </a>
                        </div>
                    </div>
                </div>
                <!-- RECAPTCHA END NEW -->

                <p id="recaptcha-error" class="text-red-500 font-bold text-sm mt-1 hidden">This field is required
                </p>
                <!-- </div> -->

        </div>

        <!-- Right Select and Message Section -->
        <div class="xl:w-1/3">
            <div class="space-y-10">
                <div>
                    <input type="email" class="font-bold block w-full  p-[10px] " placeholder="Email" id="email">
                    <p id="email-error" class="text-red-500 text-sm mt-1 hidden error-message font-bold">This field is
                        required
                    </p>

                </div>
                <div>
                    <input type="text" id="phone-number"
                        class="block w-full my-16 sm:my-1  p-[10px]  border border-gray-300 font-bold"
                        placeholder="Phone Number">
                    <p id="phone-number-error" class="error-message text-red-500 font-bold text-sm mt-1 hidden">This
                        field is
                        required</p>
                </div>
            </div>
            <button type="submit"
                class="bg-black border custom-button  text-white font-bold p-2 mt-8 mx-auto  w-30 sm:w-60 md:w-80  xl:w-full">Submit
                <i class="fa fa-chevron-right px-1"></i></button>
            </form>
        </div>
    </div>

    <!-- END Download Product Description signup   -->


    <!-- START Request a Callback. signup PAGE -->

    <div class="bg-gradient px-8  sm:px-28 py-16   w-full mx-4 flex flex-col xl:flex-row">

        <!-- Left Text Section -->
        <div class=" w-full xl:w-1/3 xl:my-8 md:mb-0 md:mr-8">
            <div class="text-3xl font-bold xl:mb-4 text-white flex textchange">
                <div class="text-yellow-500 mr-4">Request</div> A
                Call
                Back.
            </div>
            <p class="text-white leading-9 mb-12 xl:mb-1">Would you like to speak to one of our Business Innovation
                Consultant to
                know more about our services and how they can help your business?

                <br> Just submit your details and we will be in touch with you shortly.
            </p>
        </div>

        <!-- Middle Form Section -->
        <div class="xl:w-1/3 flex-1 xl:mr-8">
            <form id="signup-for" class="space-y-4">
                <div>
                    <!-- <label class="block text-sm font-medium text-gray-700">Full Name</label> -->
                    <input type="text" id="full-name" placeholder="Full Name"
                        class="block w-full  p-[10px] outline-none font-bold">
                    <p id="full-name-error" class="error-message font-bold  text-red-500 text-sm mt-1 hidden">This field
                        is
                        required</p>
                </div>
                <div class="companyproperty">
                    <input type="text" id="company" placeholder="Company" class="block w-full p-[10px]  font-bold">
                    <p id="company-error" class="error-message text-red-500 font-bold text-sm p-[10px]  hidden">This
                        field is
                        required
                    </p>
                </div>
                <div>
                    <input type="text" id="phone-number"
                        class="block w-full my-16 sm:my-1  p-[10px]  border border-gray-300 font-bold"
                        placeholder="Phone Number">
                    <p id="phone-number-error" class="error-message text-red-500 font-bold text-sm mt-1 hidden">This
                        field is
                        required</p>
                </div>


                <!-- RECAPTCHA START NEW -->
                <div class="bg-[#fff] p-4 flex items-center justify-between w-full max-w-xs" style="margin:50px 0;">
                    <!-- Left side with checkbox and spinner -->
                    <div class="flex items-center space-x-4">
                        <div class="relative">
                            <input id="captcha-checkbox" type="checkbox" class="hidden">
                            <div id="checkbox-container"
                                class="w-6 h-6 border border-gray-400 rounded flex items-center justify-center cursor-pointer">
                                <!-- Checkmark icon -->
                                <svg id="checkmark-icon" xmlns="http://www.w3.org/2000/svg"
                                    class="hidden w-20 h-20 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M16.707 5.293a1 1 0 00-1.414 0L8 12.586 4.707 9.293a1 1 0 10-1.414 1.414l4 4a1 1 0 001.414 0l8-8a1 1 0 000-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <!-- Spinner -->
                            <div id="spinner" class="hidden absolute inset-0  items-center justify-center">
                                <div class="spinner"></div>
                            </div>
                        </div>
                        <label for="captcha-checkbox" class="cursor-pointer">I'm not a robot</label>
                    </div>

                    <!-- Right side with image and links -->
                    <div class="flex flex-col items-center space-y-2">
                        <img src="https://www.gstatic.com/recaptcha/api2/logo_48.png" alt="Captcha Logo"
                            class="w-7 h-7">
                        <div class="flex privacyterms">
                            <a href="https://policies.google.com/privacy?hl=en"
                                class="text-gray-600 mx-2 hover:underline">Privacy-Terms </a>
                        </div>
                    </div>
                </div>
                <!-- RECAPTCHA END NEW -->

                <p id="recaptcha-error" class="text-red-500 font-bold text-sm mt-1 hidden">This field is required
                </p>
                <!-- </div> -->

        </div>

        <!-- Right Select and Message Section -->
        <div class="xl:w-1/3">
            <div class="space-y-10">

                <div class="custom-select w-full max-w-md">
                    <div class="select-selected items-center" id="select-box">
                        <span class="font-bold text-gray-400">--Select an option--</span>

                        <i class="fa fa-sort-desc text-gray-400" aria-hidden="true"></i>
                    </div>
                    <div class="select-items select-hide" id="select-options">
                        <div class="py-2 px-4">AI and Cognitive Analytics</div>
                        <div class="py-2 px-4">Application Development & Maintenance</div>
                        <div class="py-2 px-4">Big Data and Analytics</div>
                        <div class="py-2 px-4">Cloud Transformation Solutions</div>
                        <div class="py-2 px-4">eBusiness Digital Solutions</div>
                        <div class="py-2 px-4">Enterprise Cyber Security</div>
                        <div class="py-2 px-4">Enterprise Integration As a Service</div>
                        <div class="py-2 px-4">Infrastructure Management</div>
                        <div class="py-2 px-4">IoT and Automation</div>
                        <div class="py-2 px-4">IT and Business Consulting</div>
                        <div class="py-2 px-4">Mobile Application Development</div>
                        <div class="py-2 px-4">Outsourced Product Development</div>

                    </div>
                    <p class="text-red-500 text-sm mt-1 hidden font-bold error-message">This field is required</p>
                </div>
                <div>
                    <input type="email" class="font-bold block w-full  p-[10px] " placeholder="Email" id="email">
                    <p id="email-error" class="text-red-500 text-sm mt-1 hidden error-message font-bold">This field is
                        required
                    </p>

                </div>
                <div>
                    <textarea class="block w-full mt-1 p-2 border border-gray-300 font-bold" style="outline:none;"
                        rows="6" placeholder="Message"></textarea>
                </div>
            </div>
            <button type="submit"
                class="bg-black border custom-button  text-white font-bold p-2 mt-8 mx-auto  w-30 sm:w-60 md:w-80  xl:w-full">Submit
                <i class="fa fa-chevron-right px-1"></i></button>
            </form>
        </div>
    </div>

    <!-- END Request a Callback. signup PAGE -->


    <!-- OUR CLIENT AND TESTIMONIAL SECTION START -->
    <div class="container mx-auto px-4 xl:px-8 my-12">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- Left side -->
            <div>
                <!-- Title with underline -->
                <div class="text-center mb-16">
                    <h2 class="text-2xl font-bold text-blue-900">Our Clients</h2>
                    <div class="h-2 rounded-full bg-yellow-500 w-24 mx-auto mt-1"></div>
                </div>
                <!-- Grid of images -->
                <div class="grid grid-cols-3 gap-4 gap-y-12">
                    <!-- First row of images -->
                    <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/vodafone-2.jpg" alt="Image 1"
                        class="w-full  xl:w-44 h-auto">
                    <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/Argus-Logo-3.jpg" alt="Image 2"
                        class="w-full  xl:w-44 h-auto">
                    <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/Gum-Drops-2.jpg" alt="Image 3"
                        class="w-full  xl:w-44 h-auto">
                    <!-- Second row of images -->
                    <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/Sky-slope-2.jpg" alt="Image 4"
                        class="w-full  xl:w-44 h-auto">
                    <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/Cabinet-Office-1-1.jpg"
                        alt="Image 5" class="w-full xl:w-44  h-auto">
                    <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/John-Hopkins-2.jpg" alt="Image 6"
                        class="w-full  xl:w-44 h-auto">
                </div>
            </div>

            <!-- Right side with card -->
            <div>
                <!-- Title with underline -->
                <div class="text-center mb-12">
                    <h2 class="text-2xl font-bold text-blue-900">Testimonials</h2>
                    <div class="h-2 rounded-full bg-yellow-500 w-24 mx-auto mt-2"></div>
                </div>
                <!-- Cards -->
                <div class="slider-container h-80">
                    <div class="slider">
                        <!-- First card -->
                        <div class="slide flex flex-col">
                            <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/Argus-Logo-3.jpg"
                                alt="Card Image 1" class="mx-auto w-full sm:w-32 h-auto mb-4 cardslideimg">
                            <p class="text-slate-700 my-4 italic">“I have interacted with lot of development firms and
                                NetEdge
                                is among the most responsive in terms of listening to our needs and striving to excel at
                                them. We created a service at a fraction of cost of our competitors.”
                            </p>
                            <div>
                                <p class="mt-4 text-xl text-blue-600">Shanda</p>
                                <p class="text-slate-400">CEO, Gum Drops</p>
                            </div>
                        </div>
                        <!-- Second card -->
                        <div class="slide flex flex-col">
                            <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/earthlink-2.png"
                                alt="Card Image 2" class="mx-auto w-full sm:w-32 h-auto mb-4 cardslideimg">
                            <p class="text-gray-700 my-4  italic ">“So far, one of the best providers when it comes to
                                SEO and
                                Traffic Improvement. We will continue to work with NetEdge. Great Team!”
                            </p>
                            <p class="mt-4 text-xl text-blue-600">Smith Tyler</p>
                            <p class="text-slate-400">CEO, SkySlopeInc., USA</p>
                        </div>
                        <!-- Third card -->
                        <div class="slide flex flex-col">
                            <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/skyslope-1.png"
                                alt="Card Image 3" class="mx-auto w-full sm:w-32 h-auto mb-4 cardslideimg">
                            <p class="text-gray-700 my-4  italic">“NetEdge is one of the best companies I have worked
                                with that
                                does offshore development. They are very quick and do things the way that were discussed
                                and have exceeded what I wanted done”
                            </p>
                            <p class="mt-4 text-xl text-blue-600">
                                Mark Joseph </p>
                            <p class="text-slate-400">Product Director, Global Network Services Vodafone , UK </p>
                        </div>
                        <!-- Fourth card -->
                        <div class="slide flex flex-col">
                            <img src="https://netedgecomputing.com/wp-content/uploads/2021/03/Gum-Drops-2.jpg"
                                alt="Card Image 4" class="mx-auto w-full sm:w-32 h-auto mb-4 cardslideimg">
                            <p class="text-gray-700 my-4  italic ">“NetEdge is one of the best companies I have worked
                                with that
                                does offshore development. They are very quick and do things the way that were discussed
                                and have exceeded what I wanted done”
                            </p>
                            <p class="mt-4 text-xl text-blue-600">Smith Tyler</p>
                            <p>CEO, SkySlopeInc., USA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- OUR CLIENT AND TESTIMONIAL SECTION END -->



    <!-- FOOTER START -->

    <footer>
        <!-- this div used to separate copyright div -->
        <div
            class="pl-6 pr-4 pt-16 pb-6 text-slate-600 leading-8 text-pretty bg-[#f2f2f2] text-sm md:pl-16 lg:flex lg:justify-evenly lg:pl-4 lg:pr-4 lg:pt-16">
            <!-- div for medium screen setup: Grouping logo, 1st list, services -->
            <div class="md:flex md:mb-10">
                <!-- div for medium screen setup: Grouping logo, 1st list -->
                <div class="md:pr-52 lg:p-2 lg:m-2 lg:w-60">
                    <!-- logo -->
                    <div class="mb-6">
                        <a href="">
                            <img src="https://netedgecomputing.com/wp-content/uploads/2019/09/netedge-logo.png"
                                alt="NetEdge Logo">
                        </a>
                    </div>
                    <!-- logo end -->
                    <!-- 1st list start -->
                    <div class="mb-6">
                        <ul class="list-inside listchange">
                            <li><a href="https://netedgecomputing.com/about-us/" class="hover:text-orange-600"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    About Us</a></li>
                            <li><a href="https://netedgecomputing.com/index.php/about-us/value-proposition/"
                                    class="hover:text-orange-600"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Value
                                    Proposition</a></li>
                            <li><a href="https://netedgecomputing.com/index.php/about-us/methodology/"
                                    class="hover:text-orange-600"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Methodology</a>
                            </li>
                            <li><a href="https://netedgecomputing.com/index.php/about-us/team-netedge/"
                                    class="hover:text-orange-600"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Team</a></li>
                            <li><a href="https://netedgecomputing.com/index.php/about-us/management/"
                                    class="hover:text-orange-600"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Management</a>
                            </li>
                            <li><a href="https://netedgecomputing.com/contact-us/" class="hover:text-orange-600"><i
                                        class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                    Contact us</a></li>
                        </ul>
                    </div>
                    <!-- 1st list end -->
                </div>
                <!-- [div for medium screen setup: Grouping logo, 1st list] Ends here -->

                <!-- Services start -->
                <div class="mb-6 md:w-96 lg:p-2 lg:m-2 lg:w-60">
                    <h4 class="font-bold text-slate-950 text-lg">Services</h4>
                    <hr class="border-b-2 mt-2 mb-3">
                    <ul class="list-inside listchange">
                        <li><a href="https://netedgecomputing.com/index.php/services/cloud-transformation-solutions/"
                                class="hover:text-orange-600"><i class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Cloud
                                Transformation Solutions</a></li>
                        <li><a href="https://netedgecomputing.com/index.php/services/ai-and-cognitive-analytics/"
                                class="hover:text-orange-600"><i class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                AI and
                                Cognitive Analytics</a></li>
                        <li><a href="https://netedgecomputing.com/index.php/services/enterprise-cyber-security/"
                                class="hover:text-orange-600"><i class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Enterprise
                                Cyber Security</a></li>
                        <li><a href="https://netedgecomputing.com/index.php/services/iot-and-automation/"
                                class="hover:text-orange-600"><i class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                IoT and
                                Automation</a></li>
                        <li><a href="https://netedgecomputing.com/index.php/services/application-development/"
                                class="hover:text-orange-600"><i class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Application
                                Development and
                                <span class="ml-3">Maintenance</span></a></li>
                        <li><a href="https://netedgecomputing.com/index.php/services/ebusiness-digital-solutions/"
                                class="hover:text-orange-600"><i class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                eBusiness
                                Digital Solutions</a></li>
                    </ul>
                </div>
                <!-- Services Ends-->
            </div>
            <!-- [div for medium screen setup: Grouping logo, 1st list, services] Ends here-->

            <!-- div for medium screen setup: Grouping Recent Posts, Subscribe, Social Link-->
            <div class="md:flex">
                <!-- Recent Posts -->
                <div class="mb-6 md:pr-7 lg:p-2 lg:m-2 lg:w-60">
                    <h4 class="font-bold text-slate-950 text-lg">Recent Posts</h4>
                    <hr class="border-b-2 mt-2 mb-3">
                    <ul class="listchange list-inside">
                        <li><a href="https://netedgecomputing.com/social-computing/designing-a-cost-effective-cloud-solution-for-your-business/"
                                class="hover:text-orange-600"><i class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Designing
                                a Cost Effective Cloud <span class="ml-3">Solution for your business.</span></a></li>
                        <li><a href="https://netedgecomputing.com/social-computing/driving-innovation-and-automation-across-an-enterprise-to-growth-hacking/"
                                class="hover:text-orange-600"><i class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                Driving
                                Innovation and <span class="ml-3"> Automation across an Enterprise </span> <span
                                    class="ml-3">to Growth Hacking.</span></a></li>
                        <li><a href="https://netedgecomputing.com/social-computing/ecommerce-services-guide-right-from-concept-proof-of-concept-to-implementation/"
                                class="hover:text-orange-600"><i class="fa fa-chevron-right text-orange-600"></i>&nbsp;
                                E-Commerce
                                Services Guide: <span class="ml-3">Right from Proof-of-Concept to</span>
                                <span class="ml-3">simplementation.</span></a></li>
                    </ul>
                </div>
                <!-- Recent Posts Ends -->

                <!-- div for medium screen setup: Combining Subscribe, Social Link -->
                <div class="md:pl-10 lg:p-2 lg:m-2 lg:w-60">
                    <!-- Subscribe starts here -->
                    <div class="mb-6">
                        <h4 class="font-bold text-slate-950 text-lg">Subscribe</h4>
                        <hr class="border-b-2 mt-2 mb-3 md:w-96 lg:w-full">
                        <div class="mt-7">
                            <input type="text"
                                class="bg-[#cbcacb] w-full h-12 md:w-96 lg:w-full px-4 border border-transparent outline-none focus:border-[3px] rounded border-transition focus:border-yellow-500"
                                id="email-input" placeholder="Enter your email">
                            <p id="error-message" class="text-red-500 text-sm mt-2 hidden">Field is required</p>
                            <button type="submit" id="subscribe-button"
                                class="bg-[#011bab] w-full h-12 text-white mt-5 rounded md:w-96 lg:w-full">Subscribe</button>

                        </div>
                    </div>
                    <!-- Subscribe Ends here -->

                    <!-- Social Link starts -->
                    <div>
                        <h4 class="font-bold text-slate-950 text-lg">Social Links</h4>
                        <hr class="border-b-2 mt-2 mb-3 md:w-96 lg:w-full">
                        <div class="flex justify-center">
                            <a target="_blank"
                                href="http://www.linkedin.com/company/netedge-computing-solutions-pvt.-ltd."
                                title="Follow us on Linkedin"><img
                                    src="https://s.yimg.com/fz/api/res/1.2/oPmnuoHGZwDmud64pDGAcQ--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/051c505f-dc29-3303-81b2-5828c6e3b2e2/t_500x300"
                                    alt="LinkedIn" class="h-5 ml-2 mr-2"></a>
                            <a target="_blank"
                                href="https://www.facebook.com/NetEdge-Computing-Solutions-2680989805274489/"
                                title="Follow us on Facebook"><img
                                    src="https://s.yimg.com/fz/api/res/1.2/bfhuQx02Fd0qgLXZbH1dww--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MjQw/https://s.yimg.com/zb/imgv1/ff6c2336-05c2-34bf-8d42-c8eb48fbacf1/t_500x300"
                                    alt="Facebook" class="h-5 ml-2 mr-2"></a>
                            <a target="_blank" href="https://www.instagram.com/netedge_computing/"
                                title="Follow us on Instagram"><img
                                    src="https://s.yimg.com/fz/api/res/1.2/cOPIKde2EAdEq77xXlSqFA--~C/YXBwaWQ9c3JjaGRkO2g9MTkyO3E9ODA7dz0xOTI-/https://s.yimg.com/zb/imgv1/e9d6381f-6a16-39d9-b6f9-1467838c022c/t_500x300"
                                    alt="Instagram" class="h-5 ml-2 mr-2"></a>
                            <a target="_blank" href="http://www.twitter.com/Net_Edge" title="Follow us on Twitter"><img
                                    src="https://s.yimg.com/fz/api/res/1.2/TZ1bP68dTRP80mKIjgPcyA--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MzMy/https://s.yimg.com/zb/imgv1/540bfd67-d7a1-3da0-8dee-ebab64f2bbbf/t_500x300"
                                    alt="Twitter" class="h-5 ml-2 mr-2"></a>

                        </div>
                    </div>
                    <!-- Social Link End -->
                </div>
                <!-- [div for medium screen setup: Combining Subscribe, Social Link] Ends here-->
            </div>
            <!-- [div for medium screen setup: Grouping Recent Posts, Subscribe, Social Link] Ends here-->
        </div>

        <!-- copyright starts here-->
        <div class="bg-[#1e1f21] text-[#777676] pl-4 pr-4 pt-8 text-xs pb-2">
            <p class="text-center md:text-left">© <a
                    href="https://netedgecomputing.com/index.php/copy-right/">Copyright</a> 1992 - 2022, NetEdge
                Computing Solutions Pvt. Ltd. All Rights Reserved.</p>
            <div class="text-center md:text-right">
                <a href="https://netedgecomputing.com/index.php/privacy-policy/">Privacy Policy</a> |
                <a href="https://netedgecomputing.com/index.php/terms-condition/">Terms & Conditions</a>
            </div>
        </div>
        <!-- copyright Ends here-->
    </footer>

    <!-- FOOTER END -->


    <script>

        // SIGN UP PAGE  JS START

        // THIS JS FOR SIGNUP PAGE START 

        // this js for show error message only for dropdown start
        document.addEventListener('DOMContentLoaded', function () {
            const selectBox = document.getElementById('select-box');
            const selectOptions = document.getElementById('select-options');
            const icon = selectBox.querySelector('i');

            selectBox.addEventListener('click', function () {
                selectOptions.classList.toggle('select-hide');
                icon.classList.toggle('select-arrow-active');
            });

            selectOptions.addEventListener('click', function (e) {
                if (e.target.tagName === 'DIV') {
                    selectBox.querySelector('span').textContent = e.target.textContent;
                    selectOptions.classList.add('select-hide');
                    icon.classList.remove('select-arrow-active');

                    // Hide error message when an option is selected
                    const errorElement = document.querySelector('.custom-select .error-message');
                    errorElement.classList.add('hidden');
                }
            });

            document.addEventListener('click', function (e) {
                if (!selectBox.contains(e.target)) {
                    selectOptions.classList.add('select-hide');
                    icon.classList.remove('select-arrow-active');

                    // Show error message if the user clicks outside without selecting an option
                    const selectBoxText = selectBox.querySelector('span').textContent.trim();
                    const errorElement = document.querySelector('.custom-select .error-message');
                    if (selectBoxText === 'Select an option') {
                        errorElement.classList.remove('hidden');
                    }
                }
            });
            // this js for show error message only for dropdown end


            document.getElementById('signup-form').addEventListener('submit', function (event) {
                event.preventDefault();

                let isValid = true;

                // Full Name validation
                const fullName = document.getElementById('full-name').value.trim();
                const fullNameError = document.getElementById('full-name-error');
                if (!fullName) {
                    fullNameError.classList.remove('hidden');
                    isValid = false;
                } else {
                    fullNameError.classList.add('hidden');
                }

                // Company validation
                const company = document.getElementById('company').value.trim();
                const companyError = document.getElementById('company-error');
                if (!company) {
                    companyError.classList.remove('hidden');
                    isValid = false;
                } else {
                    companyError.classList.add('hidden');
                }






                // Email validation
                const email = document.getElementById('email').value.trim();
                const emailerror = document.getElementById('email-error');
                if (!email) {
                    emailerror.classList.remove('hidden');
                    isValid = false;
                } else {
                    emailerror.classList.add('hidden');
                }

                // Phone Number validation
                const phoneNumber = document.getElementById('phone-number').value.trim();
                const phoneNumberError = document.getElementById('phone-number-error');
                if (!phoneNumber) {
                    phoneNumberError.classList.remove('hidden');
                    isValid = false;
                } else {
                    phoneNumberError.classList.add('hidden');
                }
            });

            //  start js this js for select option
            document.addEventListener('DOMContentLoaded', function () {
                const selectBox = document.getElementById('select-box');
                const selectOptions = document.getElementById('select-options');
                const icon = selectBox.querySelector('i');

                selectBox.addEventListener('click', function () {
                    selectOptions.classList.toggle('select-hide');
                    icon.classList.toggle('select-arrow-active');
                });

                selectOptions.addEventListener('click', function (e) {
                    if (e.target.tagName === 'DIV') {
                        selectBox.querySelector('span').textContent = e.target.textContent;
                        selectOptions.classList.add('select-hide');
                        icon.classList.remove('select-arrow-active');
                    }
                });

                document.addEventListener('click', function (e) {
                    if (!selectBox.contains(e.target)) {
                        selectOptions.classList.add('select-hide');
                        icon.classList.remove('select-arrow-active');
                    }
                });
            });
        });

        // RECAPTCHA START
        // JavaScript for simulating captcha functionality
        const captchaCheckbox = document.getElementById('captcha-checkbox');
        const checkboxContainer = document.getElementById('checkbox-container');
        const spinner = document.getElementById('spinner');
        const checkmarkIcon = document.getElementById('checkmark-icon');

        checkboxContainer.addEventListener('click', () => {
            if (!captchaCheckbox.checked) {
                setTimeout(() => {
                    spinner.classList.remove('hidden');
                    checkboxContainer.classList.add('border-transparent');

                    setTimeout(() => {
                        spinner.classList.add('hidden');
                        captchaCheckbox.checked = true;
                        checkmarkIcon.classList.remove('hidden');
                        checkboxContainer.classList.remove('border-transparent');
                        checkboxContainer.classList.add('border-green-500');
                    }, 2000); // 2 seconds spinner
                }, 500); // 0.5 seconds delay before spinner starts
            }
        });
        //RECAPTCHA END

        //  end js this js for select option

        //THIS JS FOR SIGNUP PAGE END
        // SIGNUP PAGE JS END


        /* OUR CLIENT AND TESTIMONIAL SECTION START js*/
        // JavaScript for cycling through cards with sliding effect
        const slider = document.querySelector('.slider');
        const slides = document.querySelectorAll('.slide');
        let currentIndex = 0;

        function slide() {
            currentIndex = (currentIndex + 1) % slides.length;
            slider.style.transform = `translateX(-${currentIndex * 100}%)`;

            if (currentIndex === slides.length - 1) {
                setTimeout(() => {
                    slider.style.transition = 'none';
                    slider.style.transform = `translateX(0)`;
                    currentIndex = 0;
                    setTimeout(() => {
                        slider.style.transition = 'transform 1s ease-in-out';
                    }, 50);
                }, 1000);
            }
        }

        setInterval(slide, 5000);
        /* OUR CLIENT AND TESTIMONIAL SECTION END js */



        // JS START FOR FOOTER
        const emailInput = document.getElementById('email-input');
        const subscribeButton = document.getElementById('subscribe-button');
        const errorMessage = document.getElementById('error-message');

        subscribeButton.addEventListener('click', function () {
            if (emailInput.value.trim() === '') {
                errorMessage.classList.remove('hidden');
                emailInput.classList.add('error-border');
            } else {
                errorMessage.classList.add('hidden');
                emailInput.classList.remove('error-border');
                // Add form submission logic here if needed
            }
        });

        // its js for input border transition
        emailInput.addEventListener('focus', function () {
            errorMessage.classList.add('hidden');
            emailInput.classList.remove('error-border');
        });

        emailInput.addEventListener('blur', function () {
            emailInput.classList.remove('error-border');
        });
        //JS END FOR FOOTER

    </script>

</body>

</html>